In [2]:
import xlwt
import glob
import operator
import pandas as pd

In [3]:
list_of_files = glob.glob('Deviation/*.dev')

with open("test.csv", "w") as f:
    for fileName in list_of_files:
        data_list = open( fileName, "r" ).readlines()
        #f.write(data_list[1])
        lines = f.writelines(data_list[1:5])
#        result=[]
#        for x in lines:
#            result.append(x.split(' ')[1:5])
#            f.close()

In [4]:
list_of_files = glob.glob('Deviation/*.dev')

with open("wellname.csv", "w") as f:
    for fileName in list_of_files:
        data_list = open( fileName, "r" ).readlines()
        f.writelines(data_list[1:2])
df = pd.read_csv("wellname.csv", header = None, names=["#WELL NAME"])
df['#WELL NAME'] = df['#WELL NAME'].str.split(':').str[1]

df.head(3)

              #WELL NAME
0                \twell1
1                 well10
2                 well11

In [10]:
with open("xcoord.csv", "w") as f:
    for fileName in list_of_files:
        data_list = open( fileName, "r" ).readlines()
        f.writelines(data_list[2:3])

df2 = pd.read_csv("xcoord.csv", header = None, names=["#WELL HEAD X-COORDINATE, m"]);
df2['#WELL HEAD X-COORDINATE, m'] = df2['#WELL HEAD X-COORDINATE, m'].str.split(':').str[1].str.split('(').str[0]
df2.head(3)

  #WELL HEAD X-COORDINATE, m
0           527563.13200000
1           554437.07800000
2           508497.57800000

In [11]:
with open("ycoord.csv", "w") as f:
    for fileName in list_of_files:
        data_list = open( fileName, "r" ).readlines()
        f.writelines(data_list[3:4])

df3 = pd.read_csv("ycoord.csv", header = None, names=["#WELL HEAD Y-COORDINATE, m"]);
df3['#WELL HEAD Y-COORDINATE, m'] = df3['#WELL HEAD Y-COORDINATE, m'].str.split(':').str[1].str.split('(').str[0]
df3.head(3)

  #WELL HEAD Y-COORDINATE, m
0          3706595.19000000
1          3658267.27100000
2          3708209.69500000

In [12]:
list_of_files = glob.glob('Deviation/*.dev')

with open("offset.csv", "w") as f:
    for fileName in list_of_files:
        data_list = open( fileName, "r" ).readlines()
        f.writelines(data_list[4:5])

df4 = pd.read_csv("offset.csv", header = None, names=["# WELL OFFSET (from MSL), ft"]);
df4['# WELL OFFSET (from MSL), ft'] = df4['# WELL OFFSET (from MSL), ft'].str.split(':').str[1].str.split('(').str[0]
df4.head(3)

  # WELL OFFSET (from MSL), ft
0                 97.00000000
1                 77.00000000
2                 77.00000000

In [13]:
df_combined = pd.concat([df, df2, df3, df4], axis=1)
df_combined.to_excel("table.xlsx", index=False)
df_combined

,#WELL NAME,"#WELL HEAD X-COORDINATE, m","#WELL HEAD Y-COORDINATE, m","# WELL OFFSET (from MSL), ft"
0,\twell1,527563.13200000,3706595.19000000,97.00000000
1,well10,554437.07800000,3658267.27100000,77.00000000
2,well11,508497.57800000,3708209.69500000,77.00000000
3,well12,520332.91000000,3687761.73100000,86.00000000
4,well13,523873.80300000,3690820.55900000,77.00000000
5,well14,542724.67600000,3664355.11500000,84.00000000
6,well15,530991.24500000,3697990.19300000,107.00000000
7,well2,502007.45800000,3746116.03900000,99.00000000
8,well3,523100.33600000,3749036.93200000,99.00000000
9,well4,525034.97200000,3748090.97600000,85.00000000
10,well5,520197.60000000,3688183.00000000,106.00000000
11,well6,520087.85100000,3687887.51300000,106.00000000
12,well7,512422.31900000,3709487.02700000,106.00000000
13,well8,547082.32100000,3658270.58100000,106.00000000
14,well9,558808.76900000,3655212.91700000,77.00000000